div#wb-modal-user.ui.small.modal
  i.close.icon
  div.header Add a new user
  div.content
    form.ui.form
      div.two.fields
        div.field
          label First Name
          input(type="text", name="name", placeholder="") 
        div.field
          label Last Name
          input(type="text", name="name", placeholder="") 
      div.three.fields
        div.field
          label Your Relationship
          input(type="text", name="name", placeholder="") 
        div.field
          label % Likely to attend
          input(type="text", name="name", placeholder="") 
        div.field
          label Estimated # of +1s
          input(type="text", name="name", placeholder="") 
      div.two.fields
        div.field
          label Phone Number
          input(type="text", name="email", placeholder="(xxx) xxx-xxxx") 
        div.field
          label Email Address
          input(type="text", name="phone", placeholder="") 
      div.two.fields
        div.field
          label Mailing Address 1
          input(type="text", name="address1", placeholder="") 
        div.field
          label Mailing Address 2
          input(type="text", name="address2", placeholder="") 
      div.three.fields
        div.field
          label City
          input(type="text", name="address1", placeholder="") 
        div.field
          label State
          select.ui.fluid.dropdown
            option(value="") State
            option(value="AL") Alabama
            option(value="AK") Alaska
            option(value="AZ") Arizona
            option(value="AR") Arkansas
            option(value="CA") California
            option(value="CO") Colorado
            option(value="CT") Connecticut
            option(value="DE") Delaware
            option(value="DC") District Of Columbia
            option(value="FL") Florida
            option(value="GA") Georgia
            option(value="HI") Hawaii
            option(value="ID") Idaho
            option(value="IL") Illinois
            option(value="IN") Indiana
            option(value="IA") Iowa
            option(value="KS") Kansas
            option(value="KY") Kentucky
            option(value="LA") Louisiana
            option(value="ME") Maine
            option(value="MD") Maryland
            option(value="MA") Massachusetts
            option(value="MI") Michigan
            option(value="MN") Minnesota
            option(value="MS") Mississippi
            option(value="MO") Missouri
            option(value="MT") Montana
            option(value="NE") Nebraska
            option(value="NV") Nevada
            option(value="NH") New Hampshire
            option(value="NJ") New Jersey
            option(value="NM") New Mexico
            option(value="NY") New York
            option(value="NC") North Carolina
            option(value="ND") North Dakota
            option(value="OH") Ohio
            option(value="OK") Oklahoma
            option(value="OR") Oregon
            option(value="PA") Pennsylvania
            option(value="RI") Rhode Island
            option(value="SC") South Carolina
            option(value="SD") South Dakota
            option(value="TN") Tennessee
            option(value="TX") Texas
            option(value="UT") Utah
            option(value="VT") Vermont
            option(value="VA") Virginia
            option(value="WA") Washington
            option(value="WV") West Virginia
            option(value="WI") Wisconsin
            option(value="WY") Wyoming
        div.field
          label Country
          div.ui.fluid.search.selection.dropdown
            input(type="hidden", name="country")
            i.dropdown.icon
            div.default.text Select Country
            div.menu
              div.item(data-value="af") Afghanistan
              div.item(data-value="ax") Aland Islands
              div.item(data-value="al") Albania
              div.item(data-value="dz") Algeria
              div.item(data-value="as") AmerSamoa
              div.item(data-value="ad") Andorra
              div.item(data-value="ao") Angola
              div.item(data-value="ai") Anguilla
              div.item(data-value="ag") Antigua
              div.item(data-value="ar") Argentina
              div.item(data-value="am") Armenia
              div.item(data-value="aw") Aruba
              div.item(data-value="au") Australia
              div.item(data-value="at") Austria
              div.item(data-value="az") Azerbaijan
              div.item(data-value="bs") Bahamas
              div.item(data-value="bh") Bahrain
              div.item(data-value="bd") Bangladesh
              div.item(data-value="bb") Barbados
              div.item(data-value="by") Belarus
              div.item(data-value="be") Belgium
              div.item(data-value="bz") Belize
              div.item(data-value="bj") Benin
              div.item(data-value="bm") Bermuda
              div.item(data-value="bt") Bhutan
              div.item(data-value="bo") Bolivia
              div.item(data-value="ba") Bosnia
              div.item(data-value="bw") Botswana
              div.item(data-value="bv") Bouvet Island
              div.item(data-value="br") Brazil
              div.item(data-value="vg") British Virgin Islands
              div.item(data-value="bn") Brunei
              div.item(data-value="bg") Bulgaria
              div.item(data-value="bf") Burkina Faso
              div.item(data-value="ar") Burma
              div.item(data-value="bi") Burundi
              div.item(data-value="tc") CaIslands
              div.item(data-value="kh") Cambodia
              div.item(data-value="cm") Cameroon
              div.item(data-value="ca") Canada
              div.item(data-value="cv") Cape Verde
              div.item(data-value="ky") Cayman Islands
              div.item(data-value="cf") Central AfrRepublic
              div.item(data-value="td") Chad
              div.item(data-value="cl") Chile
              div.item(data-value="cn") China
              div.item(data-value="cx") Christmas Island
              div.item(data-value="cc") Cocos Islands
              div.item(data-value="co") Colombia
              div.item(data-value="km") Comoros
              div.item(data-value="cg") Congo Brazzaville
              div.item(data-value="cd") Congo
              div.item(data-value="ck") Cook Islands
              div.item(data-value="cr") Costa Rica
              div.item(data-value="ci") Cote Divoire
              div.item(data-value="hr") Croatia
              div.item(data-value="cu") Cuba
              div.item(data-value="cy") Cyprus
              div.item(data-value="cz") Czech Republic
              div.item(data-value="dk") Denmark
              div.item(data-value="dj") Djibouti
              div.item(data-value="dm") Dominica
              div.item(data-value="do") DominRepublic
              div.item(data-value="ec") Ecuador
              div.item(data-value="eg") Egypt
              div.item(data-value="sv") El Salvador
              div.item(data-value="gb") England
              div.item(data-value="gq") Equatorial Guinea
              div.item(data-value="er") Eritrea
              div.item(data-value="ee") Estonia
              div.item(data-value="et") Ethiopia
              div.item(data-value="eu") European Union
              div.item(data-value="fk") Falkland Islands
              div.item(data-value="fo") Faroe Islands
              div.item(data-value="fj") Fiji
              div.item(data-value="fi") Finland
              div.item(data-value="fr") France
              div.item(data-value="gf") French Guiana
              div.item(data-value="pf") French Polynesia
              div.item(data-value="tf") French Territories
              div.item(data-value="ga") Gabon
              div.item(data-value="gm") Gambia
              div.item(data-value="ge") Georgia
              div.item(data-value="de") Germany
              div.item(data-value="gh") Ghana
              div.item(data-value="gi") Gibraltar
              div.item(data-value="gr") Greece
              div.item(data-value="gl") Greenland
              div.item(data-value="gd") Grenada
              div.item(data-value="gp") Guadeloupe
              div.item(data-value="gu") Guam
              div.item(data-value="gt") Guatemala
              div.item(data-value="gw") Guinea-Bissau
              div.item(data-value="gn") Guinea
              div.item(data-value="gy") Guyana
              div.item(data-value="ht") Haiti
              div.item(data-value="hm") Heard Island
              div.item(data-value="hn") Honduras
              div.item(data-value="hk") Hong Kong
              div.item(data-value="hu") Hungary
              div.item(data-value="is") Iceland
              div.item(data-value="in") India
              div.item(data-value="io") Indian Ocean Territory
              div.item(data-value="id") Indonesia
              div.item(data-value="ir") Iran
              div.item(data-value="iq") Iraq
              div.item(data-value="ie") Ireland
              div.item(data-value="il") Israel
              div.item(data-value="it") Italy
              div.item(data-value="jm") Jamaica
              div.item(data-value="jp") Japan
              div.item(data-value="jo") Jordan
              div.item(data-value="kz") Kazakhstan
              div.item(data-value="ke") Kenya
              div.item(data-value="ki") Kiribati
              div.item(data-value="kw") Kuwait
              div.item(data-value="kg") Kyrgyzstan
              div.item(data-value="la") Laos
              div.item(data-value="lv") Latvia
              div.item(data-value="lb") Lebanon
              div.item(data-value="ls") Lesotho
              div.item(data-value="lr") Liberia
              div.item(data-value="ly") Libya
              div.item(data-value="li") Liechtenstein
              div.item(data-value="lt") Lithuania
              div.item(data-value="lu") Luxembourg
              div.item(data-value="mo") Macau
              div.item(data-value="mk") Macedonia
              div.item(data-value="mg") Madagascar
              div.item(data-value="mw") Malawi
              div.item(data-value="my") Malaysia
              div.item(data-value="mv") Maldives
              div.item(data-value="ml") Mali
              div.item(data-value="mt") Malta
              div.item(data-value="mh") Marshall Islands
              div.item(data-value="mq") Martinique
              div.item(data-value="mr") Mauritania
              div.item(data-value="mu") Mauritius
              div.item(data-value="yt") Mayotte
              div.item(data-value="mx") Mexico
              div.item(data-value="fm") Micronesia
              div.item(data-value="md") Moldova
              div.item(data-value="mc") Monaco
              div.item(data-value="mn") Mongolia
              div.item(data-value="me") Montenegro
              div.item(data-value="ms") Montserrat
              div.item(data-value="ma") Morocco
              div.item(data-value="mz") Mozambique
              div.item(data-value="na") Namibia
              div.item(data-value="nr") Nauru
              div.item(data-value="np") Nepal
              div.item(data-value="an") Netherlands Antilles
              div.item(data-value="nl") Netherlands
              div.item(data-value="nc") New Caledonia
              div.item(data-value="pg") New Guinea
              div.item(data-value="nz") New Zealand
              div.item(data-value="ni") Nicaragua
              div.item(data-value="ne") Niger
              div.item(data-value="ng") Nigeria
              div.item(data-value="nu") Niue
              div.item(data-value="nf") Norfolk Island
              div.item(data-value="kp") North Korea
              div.item(data-value="mp") Northern MarIslands
              div.item(data-value="no") Norway
              div.item(data-value="om") Oman
              div.item(data-value="pk") Pakistan
              div.item(data-value="pw") Palau
              div.item(data-value="ps") Palestine
              div.item(data-value="pa") Panama
              div.item(data-value="py") Paraguay
              div.item(data-value="pe") Peru
              div.item(data-value="ph") Philippines
              div.item(data-value="pn") Pitcairn Islands
              div.item(data-value="pl") Poland
              div.item(data-value="pt") Portugal
              div.item(data-value="pr") Puerto Rico
              div.item(data-value="qa") Qatar
              div.item(data-value="re") Reunion
              div.item(data-value="ro") Romania
              div.item(data-value="ru") Russia
              div.item(data-value="rw") Rwanda
              div.item(data-value="sh") Saint Helena
              div.item(data-value="kn") Saint Kand Nevis
              div.item(data-value="lc") Saint Lucia
              div.item(data-value="pm") Saint Pierre
              div.item(data-value="vc") Saint Vincent
              div.item(data-value="ws") Samoa
              div.item(data-value="sm") San Marino
              div.item(data-value="gs") Sandwich Islands
              div.item(data-value="st") Sao Tome
              div.item(data-value="sa") Saudi Arabia
              div.item(data-value="sn") Senegal
              div.item(data-value="cs") Serbia
              div.item(data-value="rs") Serbia
              div.item(data-value="sc") Seychelles
              div.item(data-value="sl") Sierra Leone
              div.item(data-value="sg") Singapore
              div.item(data-value="sk") Slovakia
              div.item(data-value="si") Slovenia
              div.item(data-value="sb") Solomon Islands
              div.item(data-value="so") Somalia
              div.item(data-value="za") South Africa
              div.item(data-value="kr") South Korea
              div.item(data-value="es") Spain
              div.item(data-value="lk") Sri Lanka
              div.item(data-value="sd") Sudan
              div.item(data-value="sr") Suriname
              div.item(data-value="sj") Svalbard
              div.item(data-value="sz") Swaziland
              div.item(data-value="se") Sweden
              div.item(data-value="ch") Switzerland
              div.item(data-value="sy") Syria
              div.item(data-value="tw") Taiwan
              div.item(data-value="tj") Tajikistan
              div.item(data-value="tz") Tanzania
              div.item(data-value="th") Thailand
              div.item(data-value="tl") Timorleste
              div.item(data-value="tg") Togo
              div.item(data-value="tk") Tokelau
              div.item(data-value="to") Tonga
              div.item(data-value="tt") Trinidad
              div.item(data-value="tn") Tunisia
              div.item(data-value="tr") Turkey
              div.item(data-value="tm") Turkmenistan
              div.item(data-value="tv") Tuvalu
              div.item(data-value="ug") Uganda
              div.item(data-value="ua") Ukraine
              div.item(data-value="ae") United Arab Emirates
              div.item(data-value="us") United States
              div.item(data-value="uy") Uruguay
              div.item(data-value="um") Us MIslands
              div.item(data-value="vi") Us Virgin Islands
              div.item(data-value="uz") Uzbekistan
              div.item(data-value="vu") Vanuatu
              div.item(data-value="va") VatCity
              div.item(data-value="ve") Venezuela
              div.item(data-value="vn") Vietnam
              div.item(data-value="wf") Wallis and Futuna
              div.item(data-value="eh") Western Sahara
              div.item(data-value="ye") Yemen
              div.item(data-value="zm") Zambia
              div.item(data-value="zw") Zimbabwe
      div.field
        label Other Information
        textarea( name="name", placeholder="") 
      h4.ui.dividing.header Guests
      div.fields
        div.eleven.wide.field
          input(type="text", name="guest", placeholder="Guest 1")
        div.five.wide.field
          div#add-guest.ui.button.pink Add Another

  div.actions
    div.ui.button.pink.ok Invite
    div.ui.button.cacel Cancel


