doctype html
html
  head
    title WeddingBot
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel='stylesheet', href='/css/styles.css')
    script(type="text/javascript", src='/js/scripts.js')
  body
    if user
    block content
